/* Gooogle Font use */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

body {

    margin: 0;
    padding: 0;
}

/* nav section responsive for mobile and tablet start */

@media screen and (max-width:576px) {

    nav {

        flex-direction: column;

        background: #FFF;
        box-shadow: none;
    }

    .nav-item ul {

        flex-direction: column;
        gap: 1em;
        height: auto;

    }

    .nav-item a {

        margin: 0;
        text-align: center;
    }

}

/* nav section responsive for mobile and tablet end */





/* banner section responsive for mobile and tabler start */


@media screen and (max-width:576px) {


    .banner {

        flex-direction: column;

    }

    .banner-content {

        padding: 2em;
        border-radius: .5em;
    }

    .banner-subtitle {

        font-size: 2em;
    }

    .banner-title {

        font-size: 4em;
    }



    .banner-content p {

        font-size: .7em;
        /* padding-left: 4em; */

    }

    .banner-button {

        padding: .4em .7em;
        margin-right: .5em;
        font-size: .8em;

    }

}


@media screen and (min-width:576px) and (max-width:1024px) {


    .banner-content {

        margin-left: 3em;
        padding: 3em;
        border-radius: .5em;
    }

    .banner-subtitle {

        font-size: 1.2em;
    }

    .banner-title {

        font-size: 3em;
    }

    .banner-content p {

        font-size: .8em;
        /* padding-left: 4em; */

    }

    .banner-button {

        padding: .4em .7em;
        margin-right: .5em;
        font-size: .8em;

    }

}


/* banner section responsive for mobile and tabler end */



/* gamer section responsive mobile and tablet start */

@media screen and (max-width:576px) {

    .gamer {

        flex-direction: column-reverse;
    
        padding: 1em;
    }

    .gamer-cotent {

        text-align:center;
    }

    .gamer-cotent-title {

        text-align: center;
        font-size: 2.5em;
       
    }

    .gamer-cotent-info br{
        display: none;
    }
    
    .gamer-cotent-info {
      
        text-align: center;
        font-size: .9em;
    
    }
    
    .gamer-cotent-button {
    
        font-size: .8em;
        padding: .4em .7em;
        margin-right: .5em;  
    }
    
    .gamer-cotent-title2 {
    
       
        text-align: center;
        font-size: 1.2em;
        
       
    }
    
    .gamer-cotent-title3 {
        
        font-size: 1.4em;
        
    }
    
}


@media screen and (min-width:576px) and (max-width:1024px) {

    .gamer {
        padding: 1em 6em .5em 1em;
    }

    .gamer-img img {
        width: 90%;
    }

    .gamer-cotent {

        text-align:right;
    }

    .gamer-cotent-title {

        text-align:right;
        font-size: 1.8em;
       
    }



 
    .gamer-cotent-info {
      
        text-align:right;
        font-size: .7em;
    
    }
    
    .gamer-cotent-button {
    
        font-size: .9em;
        padding: .4em .7em;
        margin-right: .5em;  
    }
    
    .gamer-cotent-title2 {
    
       
        text-align:right;
        font-size: .9em;
        
       
    }

    .gamer-cotent-title3 {
        
        font-size: 1.2em;
        
    }
    
    
    
}


/* gamer section responsive mobile and tablet end */


/* card section responsive mobile and tablet start */

@media screen and (max-width:576px) {

    .card{

        margin-top: 2em;

    }

    .card-title {
      
        font-size: 1.7em;
        padding: .4em;
    }

    .card-subtitle {
        
        font-size:.7em;
    }

    .card-details {

        flex-direction: column;
        padding: 1em;
    }

    .card-info {

        width: 100%;
        height: 100%;
        text-align: center;
    
    
    }

    .card-info-img {

        width: 100%;
    }
    
}



@media screen and (min-width:576px) and (max-width:1024px) {


    .card{

        margin-top: 2em;

    }

    .card-title {
      
        font-size: 2.5em;
        padding: .4em;
    }


    .card-details {

        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 1em 3em 2em 3em;
    }


    .card-info {

        width: 100%;
        height: 100%;
        text-align: center;
    
    
    }

    .card-info-img {

        width: 90%;
    }
    
    
    
}


/* card section responsive mobile and tablet end */



