/* Gooogle Font use */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

body {

    margin: 0;
    padding: 0;
}

/* nav section responsive for mobile and tablet start */

@media screen and (max-width:576px) {

    nav {

        flex-direction: column;

        background: #FFF;
        box-shadow: none;
    }

    .nav-item ul {

        flex-direction: column;
        gap: 1em;
        height: auto;

    }

    .nav-item a {

        margin: 0;
        text-align: center;
    }

}

/* nav section responsive for mobile and tablet end */





/* banner section responsive for mobile and tabler start */


@media screen and (max-width:576px) {


    .banner {

        flex-direction: column;

    }

    .banner-content {

        padding: 2em;
        border-radius: .5em;
    }

    .banner-subtitle {

        font-size: 2em;
    }

    .banner-title {

        font-size: 4em;
    }



    .banner-content p {

        font-size: .7em;
        /* padding-left: 4em; */

    }

    .banner-button {

        padding: .4em .7em;
        margin-right: .5em;
        font-size: .8em;

    }

}


@media screen and (min-width:576px) and (max-width:1024px) {


    .banner-content {

        margin-left: 3em;
        padding: 3em;
        border-radius: .5em;
    }

    .banner-subtitle {

        font-size: 1.2em;
    }

    .banner-title {

        font-size: 3em;
    }

    .banner-content p {

        font-size: .8em;
        /* padding-left: 4em; */

    }

    .banner-button {

        padding: .4em .7em;
        margin-right: .5em;
        font-size: .8em;

    }

}


/* banner section responsive for mobile and tabler end */