/* Gooogle Font use */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

body {

    margin: 0;
    padding: 0;
}


/* nav section css design start */

nav {

    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-logo {

    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .8em;
}

.nav-logo-title {

    text-align: center;
    font-family: Work Sans;
    font-size: 2.2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-item ul {
    display: flex;
    height: auto;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.nav-item a {

    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.12em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin: 0em .5em;
}

.follow {

    padding: .6em 1.5em;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

}

.follow i {
    align-items: center;
    font-size: 1.3em;
    margin-left: .5em;
}


/* nav section css design end */


/* banner section css design start */

.banner {


    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-evenly;

    /* padding-top: 1em;
    padding-bottom: 1.5em; */

    margin: 1.5em 0em;
    
}

/* banner-content background image add */

.banner-content {

    background-image: url(../images/Group14.png),linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 3em;
    border-radius: .7em;
}

.banner-subtitle {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 3em;
    font-style: normal;
    font-weight: 600;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.banner-title {
    text-align: center;
    font-family: Work Sans;
    font-size: 6em;
    font-style: normal;
    font-weight: 800;
    padding: 0;
    margin: 0;
    text-transform: uppercase;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content p {

    color: #534C64;
    font-family: Work Sans;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

.banner-button {

    color: #FFF;
    font-family: Work Sans;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

    padding: .7em 2em;
    margin-right: .5em;

}

.a {

    border-radius: 3em;
    background: #4EC5F7;

}

.banner-img {

    text-align: center;
}

.banner-img img {
    width: 70%;
    height: 70%;
}

/* banner section css design end */



/* gamer section start  */

.gamer {

    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 2.5em 16em 1em 10em;
}



.gamer-img img {
    width: 100%;
}

.gamer-cotent {

    text-align: right;
}

.gamer-cotent-title {

    text-align: right;
    font-family: Work Sans;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;

    margin: 0;
    padding: 0;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gamer-cotent-info {

    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: .8em;
    font-style: normal;
    font-weight: 400;


}

.gamer-cotent-button {

    color: #FFF;
    font-family: Work Sans;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    border: none;
    border-radius: 3em;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

    padding: .7em 2em;
    margin-right: .5em;


}

.gamer-cotent-title2 {

    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 500;

}

.gamer-cotent-title3 {
    color: #534C64;
    font-family: Work Sans;
    font-size: 1.4em;
    font-style: normal;
    font-weight: 700;

}

/* gamer section end  */


/* card section css design start */

.card {

    margin-top: 4em;

}

.card-title {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.gradient {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-subtitle {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
}


.card-details {

    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-around;

    padding: 2em 12em;
}

.card-info {

    width: 80%;
    height: 90%;
    text-align: center;


}

.card-info-img {

    width: 80%;
}


.img1:hover {

    filter: blur(.4em);
    cursor: pointer;

}


.play {


    position: relative;
    top: -3.4em;
    left: -.1em;
    font-size: 3em;
    color: aqua;
}

.text {

    position: relative;
    top: -12.5em;
    left: -.5em;



    text-align: center;
    font-family: Work Sans;
    font-size: 1em;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 0;
    margin: 0;



    color: rgb(244, 4, 4);

}

.t2 {

    margin-top: -5.8em;
}

.card-info-title {
    color: #534C64;
    font-family: Work Sans;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;

}


/* card section css design end */


/* games1 css design start */

.games1 {

    display: flex;
    height: auto;
    justify-content: space-around;
    align-items: center;

    margin-top: 3em;
    padding: 1em 4em;
}


.games1-content {

    text-align: right;
}

.games1-title {

    text-align: right;
    font-family: Work Sans;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    margin: 0;

}


.games1-info {

    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;

}


.small {
    margin-top: -11em;
    margin-left: -4em;
    height: 170px;
}



/* games1 css design end */



/* games2 css design start */

.games2 {

    display: flex;
    height: auto;
    justify-content: space-around;
    align-items: center;

    margin-top: 3em;
    padding: 1em 8em;
}


.games2-content {

    text-align: left;
}

.games2-title {

    text-align: left;
    font-family: Work Sans;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    margin: 0;

}


.games2-info {

    color: #534C64;
    text-align: left;
    font-family: Work Sans;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;

}


.big1 {

    width: 24em;
}

.small1 {
    height: 170px;
    margin-left: 19em;
    margin-top: -15em;
}

/* games2 css design end */




/* carrer section css style start */

.carrer {

    display: flex;
    height: auto;
    justify-content: space-around;
    align-items: center;

    background-color: #FF55AE;

    padding: .5em 3em;
}


.carrer-title {

    color: #f4eeee;
    font-family: Work Sans;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;


}

.carrer-info {

    color: #191919;
    font-family: Work Sans;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;

}

.carrer-details {

    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.carrer-name {
    color: #0b0b0b;
    font-family: Work Sans;
    font-size: .9em;
    font-style: normal;
    font-weight: 600;


}

.location {

    color: #141313;
    text-align: right;
    font-family: Work Sans;
    font-size: .9em;
    font-style: normal;
    font-weight: 600;

}

.carrer-button {

    font-family: Work Sans;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    border: none;
    border-radius: 2em;
    background: #FFF;

    padding: .7em 1.5em;
    margin-right: .5em;

    color: rgb(248, 5, 122);
}


.carrer-img img {

    width: 650px;
    object-fit: cover;
}



/* carrer section css style end */



/* more online game section design start */

.more-games {

    text-align: center;
    padding: 2em 2em 5em 2em;
}

.more-games-title {

    font-family: Work Sans;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;

}


.game-gallery {

    display: flex;
    height: auto;
    
    justify-content: center;
    align-items: center;
    
    row-gap: 2em;
    column-gap: 1em;
    flex-wrap: wrap;

   margin-top: 3em;
   margin-left: 4em;
   margin-right: 4em;
    
}

.aa {
    text-align: center;
    border-radius: 1em;
    background: #83157b;

    padding: 3em 2em;
}

.game-gallery-content {

    display: flex;
    height: auto;
    justify-content: center;
    gap: 1em;
    align-items: center;

    padding: .5em;
    border-radius: 3em;
    border: none;

}

.special {

    border: 2px solid blue;
}

.game-gallery-content:hover {

    border: 2px solid blue;
    cursor: pointer;
    background-color: rgb(245, 4, 148);
    
}

.game-gallery-content-title:hover{
    
    color:white;
}


.game-gallery-content-title {

    color: #080808;
    font-family: Work Sans;
    font-size: .9em;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}




/* more online game section design end */


/* footer section start */

footer {

    text-align: center;
    background-color: #0B0223;
    padding: 3em 0em;
}

.footer-logo-title {

    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3em;
}

.footer-link {

    height: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-around;
    align-items: center;


    padding: 1em 20em;
}

.footer-link a {

    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-logo .logo {

    padding: .5em;
    font-size: 2em;
}


.footer-link1 {

    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    align-items: center;


    padding: 1em 25em;
}

.footer-link1 a {

    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: .9em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.copywright {

    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/* footer section end */